name: Build and test

# Controls when the action will run. Triggers the workflow on push
on: 
  push:
  pull_request:
    # tags:
    # - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }} # будет запускаться по очереди на всех типах машин
    strategy:
      fail-fast: false
      matrix:
        config: 
        - {
            name: "Windows 2019 MSVC",
            os: windows-2019,
            build_type: "Debug",
            cc: "cl",
            cxx: "cl",
            environment_script: "C:/Program Files (x86)/Microsoft Visual Studio/2019/Enterprise/VC/Auxiliary/Build/vcvars64.bat",
            generators: "Visual Studio 16 2019"
          }
        - {
            name: "Ubuntu_Latest_GCC",
            os: ubuntu-latest,
            build_type: "Debug",
            cc: "gcc",
            cxx: "g++",
            generators: "Ninja"
          }

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Print env
        run: |
          echo github.event.action: ${{ github.event.action }}
          echo github.event_name: ${{ github.event_name }}
      - name: Install dependencies on windows
        if: startsWith(matrix.config.os, 'windows')
        run: |
          choco install ninja cmake
          ninja --version
          cmake --version
          #cmd "${{ matrix.config.environment_script }}"

      - name: Install dependencies on ubuntu
        if: startsWith(matrix.config.name, 'Ubuntu_Latest_GCC')
        run: |
          sudo apt-get update
          sudo apt-get install ninja-build cmake
          ninja --version
          cmake --version
          gcc --version
          
      - name: Configure
        shell: bash
        run: |
          cmake \
            -S . \
            -B build/ \
            -DCMAKE_BUILD_TYPE=${{ matrix.config.build_type }} \
            -G "${{ matrix.config.generators }}" \

      - name: Build
        shell: bash
        run: cmake --build build --config ${{ matrix.config.build_type }}

      - name: Test analyzer on windows
        working-directory: ./tests
        if: startsWith(matrix.config.os, 'windows')
        shell: bash
        run: test_analyzer.exe

      - name: Test commands on windows
        working-directory: ./tests
        if: startsWith(matrix.config.os, 'windows')
        shell: bash
        run: test_commands.exe

      - name: Test analyzer on ubuntu
        working-directory: ./tests
        if: startsWith(matrix.config.name, 'Ubuntu_Latest_GCC')
        shell: bash
        run: test_analyzer

      - name: Test commands on ubuntu
        working-directory: ./tests
        if: startsWith(matrix.config.name, 'Ubuntu_Latest_GCC')
        shell: bash
        run: test_commands
